<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>VTech Connect</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>29</string>
		<string>40</string>
		<string>58</string>
		<string>76</string>
		<string>80</string>
		<string>114</string>
		<string>120</string>
		<string>152</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>58</string>
		<string>29</string>
		<string>80</string>
		<string>40</string>
		<string>152</string>
		<string>76</string>
		<string>Icon-Small</string>
		<string>Icon</string>
		<string>Icon-Small-40</string>
		<string>mbp_icon152x152</string>
		<string>mbp_icon76x76</string>
		<string>mbp_icon144x144</string>
		<string>mbp_icon114x114</string>
		<string>mbp_icon57x57.png</string>
		<string>mbp_icon72x72.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.hubbleconnected.vtech</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow~ipad</string>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
